.red {
  background: #f10c0cd2;
}

.green {
  background: #8fee8f;
}

.orange {
  background: #ffa500;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.devices-ul {
  padding-right: 10px;
  list-style-type: none;
}

.devices-li {
  padding-bottom: 2px;
  border: 1px solid lightgray;
}

.list {
  display: inline-block;
  box-sizing: border-box;
}

.list .property {
  width: 30%;
  text-align: left;
}

.list .value {
  text-align: left;
  padding-left: 5rem;
  width: 70%;
  display: inline-block;
  box-sizing: border-box;
}

.device-label {
  font-weight: bold;
}

.table-data-device {
  padding-left: 20px;
}

.table-data-td {
  padding-right: 5px;
}

.title {
  margin: 10px;
}

.error-message {
  padding-top: 1rem;
  font: italic;
  color: lightcoral;
}